@page
@model HRMManagement.Views.Employee.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeesViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.HoDem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.HoDem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.GioiTinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.CCCD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.CCCD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.SDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.SDT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.QueQuan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.QueQuan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.NgayTuyenDung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.NgayTuyenDung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.AnhProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.AnhProfile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.IDViTri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.IDViTri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.IDChucVu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.IDChucVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesViewModel.IDPhongBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeesViewModel.IDPhongBan)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EmployeesViewModel.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
