@page
@model HRMManagement.Views.Employee.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.HoDem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.HoDem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.GioiTinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Cccd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Cccd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Sdt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Sdt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.QueQuan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.QueQuan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.NgayTuyenDung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.NgayTuyenDung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.AnhProfile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.AnhProfile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.IdchucVuNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.IdchucVuNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.IdphongBanNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.IdphongBanNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvien.IdviTriNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nhanvien.IdviTriNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Nhanvien?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
