@model List<HRMManagement.Models.EmployeesViewModel>

@{
    ViewData["Title"] = "Danh sách Nhân viên";
}
<h3>ViewData["Title"]</h3>
<hr />
<form>
    <table class="table table-responsive table-hover table-bordered table-striped">
        <thead>
            <tr class="table-active">
                <th>Nhân sự</th>
                <th>Mã</th>
                <th>Tài khoản</th>
                <th>Thâm niên</th>
                <th>Chức danh</th>
                <th>Chuyên môn/Khu vực</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var employee in Model)
                {
                    <a asp-controller="Employee" asp-action="ViewDetail" asp-route-id="@employee.ID">
                    <tr>
                        <td>@employee.HoVaTen</td>
                        <td>@employee.ID</td>
                        <td>@employee.NgayTuyenDung</td>
                        <td>@employee.IDViTri</td>
                        <td>@employee.IDChucVu</td>
                        <td>@employee.GioiTinh</td>
                        <td>
                                @*<div class="circle @(employee.ConLamViec ? "green" : "red")"></div>*@
                        </td>
                    </tr>
                    </a>
                }
            }
            else
            {
               <tr>
                   <td colspan="6">
                       <div>
                           Hiện không có thông tin của bất kì Nhân viên nào! 
                       </div>
                   </td>
               </tr>
            }
        </tbody>
    </table>
</form>

