@model IEnumerable<HRMManagement.Models.Display>

<style>
    * {
        margin: 0;
    }

    .body {
        font-family: Arial, Helvetica, sans-serif;
        display: inline;
        display: grid;
        grid-template-columns: 20% 80%;
        margin: 0 auto;
        max-width: 1600px;
    }

    .sidebar {
        grid-column: 1;
        background-color: blanchedalmond;
        max-width: 100%;
    }

</style>


    <div class="sidebar">
    </div>
    <div class="container mt-3">
            <div>
                <h2 style="text-align: center;"></h2>
                <hr>
                <table class="table table-striped" style="font-size: medium;">
                    <thead>
                        <tr>
                            <th>MaNV</th>
                            <th>Họ Tên</th>
                            <th>Vị trí công việc</th>
                            <th>Chức vụ</th>
                            <th>Phòng ban</th>
                            <th>Thông tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nv in Model){
                        <tr>
                            <td>@nv.Id</td>
                            <td>@nv.HoDem @nv.Ten</td>
                            <td>@nv.TenVitri</td>
                            <td>@nv.TenChucVu</td>
                            <td>@nv.TenPhongBan</td>
                           <td><a href="@Url.Action("Display", "Info", new { id = nv.Id })">Xem chi tiết</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
    




